body
{
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
    color: #ffffff;
    background-image: url(./img/background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-size:larger;
    top: 0%;
    line-height: normal;
}   

#background
{
    background-color: rgba(0, 0, 0, 0.634); 
    min-height: 100vh;
    display: block;
}

body , html
{
    margin: 0%;
}

#cabecalho
{
    display: flex;
    text-align: center;
    justify-content: center;
}

#perfil
{
    border-radius: 10%;
    height: 210px;
    width: 210px;
    margin-left: 50px;
    margin-top: 50px;
    float: left;
    justify-content: center;
}

.container
 {
    width: auto;
    height: 100%;
    display: flex;
}

#box2
{
    width:fit-content;
    height: fit-content;
    width: 60%;
    text-align: justify;
    float: right;
    margin-right: 300px;
    margin-top: 0%;
}

.alinhamento
{
    text-align: center;
    justify-content: center;
    margin: 0%;
}

.links
{
    color: rgb(77, 158, 228);

}

.infos
{
    text-align: justify;
}

#boxlinks
{   
    line-height: 100%;
    height: fit-content;
    width: fit-content;
    margin-top: 290px;
    justify-content: left;
    margin-left: 60px;
}

.links:hover
{
    font-size:large;
}
.links:active
{
    color: floralwhite;
}
