body
{
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
    color: #ffffff;
    background-image: url(./img/background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

body , html
{
height: 100%;
margin: 0%;
}

#cabecalho
{
text-align: center;
}

#perfil
{
    border-radius: 10%;
    height: 200px;
    width: 200px;
    float: left;
}

.container
 {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.521);
    top: 0;
}
.box 
{
    width: auto;
    height: auto;
    border-radius: 35%;

}

#box2
{
    width:fit-content;
    height: auto;
    display: flex;
}

.alinhamento
{
    text-align: center;
    justify-content: center;
}

.links
{
color: aliceblue;
}

#boxlinks
{
    background-color: #ffffff4e;
    border-radius: 10%;
    height: 150px;
    width: 150px;
    text-align: justify;
    margin: 10px;

}