body
{
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
    margin: 10;
    background-image: url(./img/background.jpg);
    justify-content: center;
    color: #ffffff;
}

#cabecalho
{
    top: 10px;
}


header
{
text-align: center;
}

#perfil
{
    border-radius: 100%;
    height: 200px;
    width: 200px;
}

figure
{
    align-items: center;
    text-align: left;
}

.container
 {
    margin-top: 50px;
    width: 95vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box 
{
    width: 700px;
    height: 300px;
    background: #b0272700;
    border-radius: 35%;
}
figure
{
    float: left;
    margin-top: auto;
}

#box2
{
    width:fit-content;
    height: 200px;
    display: flex;
    flex-direction:column;
    border-radius: 20%;
}

.alinhamento
{
    text-align: center;
    justify-content: center;
}

.links
{
color: aliceblue;
justify-content: center;
}